{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
<h1 class="mt-4">
    Lista de Consultas

    <a href="{% url 'cadastrar-consulta' %}" class="btn btn-primary float-right ms-5">
        Cadastrar Consulta
    </a>

</h1>



<hr>

<table class="table table-striped">

    <thead>
        <tr>
            <th>#</th>
            <!-- <th>Paciente</th> -->
            <!-- <th>Médico</th> -->
            <th>Data Consulta</th>
            <th>Hora Consulta</th>
            <th>Status</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in object_list %}
        <tr>
            <!-- <td>{{ obj.paciente }}</td> -->
            <!-- <td>{{ obj.medico }}</td> -->
            <td>{{ obj.dataConsulta }}</td>
            <td>{{ obj.horaConsulta }}</td>
            <td>{{ obj.statusConsulta }}</td>
            <td>
                <a href="{% url 'editar-consulta' obj.pk %}" class="btn btn-warning">
                    Editar</a>
                <a href="{% url 'excluir-consulta' obj.pk %}" class="btn btn-danger">
                    Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">Nenhum registro encontado.</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}