{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block conteudo %}

<h1 class="mt-4">Cadastros do sistema</h1>

<p class="lead">
    * Campo obrigatório
</p>

<form method="POST" class="my-4">

    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" id="salvar" class="btn btn-primary">
        Salvar
    </button>

</form>

<br>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>


<script>
    // $(seletor).acao(); 

    $(document).ready(function(){

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },
            spOptions = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);

        // mascaras
        $("#id_cpf").mask("000.000.000-00");
        $("#id_rg").mask("00.000.000-0");
        // $("#id_nascimento").mask("00/00/0000");
        // $("#id_data").mask("00/00/0000");
        $("#id_numero").mask("00000");
        $("#id_hora").mask("00:00");
        
        
       // $("input[id=*data]").mask("00:00"); // * input que contém a palavra data

     // https://viacep.com.br/exemplo/jquery/
    function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#id_rua").val("");
            $("#id_bairro").val("");
            $("#id_cidade").val("");
        }

        //Quando o campo cep perde o foco.
        $("#id_cep").blur(function () {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#id_rua").val("...");
                    $("#id_bairro").val("...");
                    $("#id_cidade").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#id_rua").val(dados.logradouro);
                            $("#id_bairro").val(dados.bairro);
                            $("#id_cidade").val(dados.localidade +"/"+ dados.uf);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });

   //    $("#salvar").on("click", function(){
    //     // alert("campo pressionado!");
    //     var numCep = $("#id_cep").val();
    //     var url = "https://viacep.com.br/ws/"+numCep+"/json";
    //     $.ajax({
    //         url: url,
    //         type: "get",
    //         dataType: "json",

    //         success: function(dadosCep){
    //             console.log(dadosCep);
    //             $("#id_bairro").val(dadosCep.bairro);
    //             $("#id_rua").val(dadosCep.logradouro);
    //             $("#id_cidade").val(dadosCep.localidade +"/"+ dadosCep.uf);

    //         }
    //     });

</script>


{% endblock %}