{% extends 'paginas/modelo.html' %}
 
{% load static %}
 
{% block titulo %}
 
   <title>Página Inicial</title>
{% endblock %}
 
{% block conteudo %}
<!-- <h1 class="mt-4">Psicoclin</h1> -->
<p class="lead">
   Sistema desenvolvido na disciplina de Novas Aplicações em Engenharia de Software, do curso bacharel em
   Engenharia de Software do Instituto Federal do Paraná - Campus Paranavaí, para obetenção
   de conceito do 2º Trimestre.
</p>
 
<h1 class="text-center">PsicoClin</h1>
 
<p class="lead">
   O sistema PsicoClin consiste em um sistema de agendamento de consultas médicas desenvolvido para
   uma clínica da cidade de Paranavaí. Este sistema permite que a clínica se organize
   em relação as consultas, ou seja, quais dias e horários que tem consulta, bem como
   qual paciente será atendido por determinado médico.   
</p>
 
<h3 class="text-center">Diagrama de Classe</h3>
<img src="/static/assets/img/der.png" class="mx-auto mt-5 d-block"/> 
 
 
{% if request.user.groups.all.0.name == "Administrador" %}
<div class="alert alert-primary" role="alert">
   <strong>Administrador detectado</strong>
</div>

{% endif %}

{% endblock %}

