{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}

<title>Página Inicial</title>
{% endblock %}

{% block conteudo %}


<h2>{{teste}}</h2>


<hr>
{% for obj in consultas %}
   <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Status: {{obj.status}}</div>
      <div class="card-body">
         <h5 class="card-title">Paciente: {{obj.paciente}}</h5>
         <p class="card-text"><strong>Médico:</strong> {{obj.medico}}</p>
         <p class="card-text"><strong>Data:</strong> {{obj.data}}</p>
         <p class="card-text"><strong>Hora:</strong> {{obj.hora}}</p>
         <p class="card-text"><strong>Preço:</strong> R${{obj.valor}}</p>
      </div>
      <div class="card-footer bg-transparent">
         <a href="{% url 'editar-consulta' obj.pk %}" class="btn btn-sm" title="Editar">
            <i class="fa fa-pencil" aria-hidden="true"></i>
         </a>
         <a href="{% url 'excluir-consulta' obj.pk %}" class="btn btn-sm" title="Excluir">
            <i class="fa fa-trash" aria-hidden="true"></i>
         </a>
      </div>
   </div>
{% endfor %}

{% if request.user.groups.all.0.name == "Administrador" %}
<div class="alert alert-primary" role="alert">
   <strong>Administrador detectado</strong>
</div>

{% endif %}

<hr>

<!-- <button id="btn-teste1" class="btn btn-primary">Botão 1</button>
<button id="btn-teste2" class="btn btn-primary">Botão 2</button>
<button id="btn-teste3" class="btn btn-primary">Botão 3</button>

<div class="div-teste1 p-3 my-3 bg-secondary">
   Div com alguma coisa
</div>

<div class="div-teste2 p-3 my-3 bg-warning" style="display: none;">
   Div com alguma coisa
</div>

<input type="text" name="teste" id="input-teste" class="form-control" value="42"> -->

{% endblock %}

{% block scripts %}

<script>
   // 1º CASO
   // $(document).ready(function () {
   //    // alert("ok");

   //    // $(selector).acao();

   //    // quando clicar no botão 
   //    $("#btn-teste1").click(function(){
   //       // $(".div-teste1").hide(); // esconde div
   //       // $(".div-teste1").show(); // mostra div
   //       // $(".div-teste1").fadeOut(); // esconde div com efeito
   //       $(".div-teste1").slideToggle(); // alterna 
   //    });
   // });


   // //   2º CASO
   // $(document).ready(function () {

   //    // quando clicar no botão 
   //    $("#btn-teste1").click(function(){
   //          // $(".div-teste1").show();  
   //          $(".div-teste1").hide();  

   //          var v = $("#input-teste").val();
   //          $(".div-teste2").text(v);
   //          // $(".div-teste2").html("<h1>" + v + "</h1>");

   //          $(".div-teste2").fadeIn(); 

   //       });

   //       $("#btn-teste2").click(function () {
   //          $(".div-teste2").show();  
   //          $(".div-teste1").hide(); 
   //    });
   //    // quando passa o mouse em cima
   //    // $(selector).mouseover(function () {});
   // });


   //   3º CASO: quando clicar no botão 3 trocar a classe da div
   $(document).ready(function () {

      // quando clicar no botão 
      $("#btn-teste1").click(function () {
         // $(".div-teste1").show();  
         $(".div-teste1").hide();

         var v = $("#input-teste").val();
         $(".div-teste2").text(v);

         $(".div-teste2").removeClass('bg-warning').addClass('bg-success');

         $(".div-teste2").fadeIn();

      });

      $("#btn-teste2").click(function () {
         $(".div-teste2").show();
         $(".div-teste1").hide();
      });
      // quando passa o mouse em cima
      // $(selector).mouseover(function () {});
   });
</script>

{% endblock %}