{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h1 class="mb-4 mt-4 float-left ">
    Lista de Cidades

    <a class="btn btn-primary" href="{% url 'cadastrar-cidade' %}">Cadastrar Cidade</a>

</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{obj.pk}}</td>
            <td>{{obj.nome}}</td>
            <td>{{obj.estado}}</td>
            <td>
                <a href="{% url 'editar-cidade' obj.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'excluir-cidade' obj.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="100%">Nenhum registro encontrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}